<a href="https://colab.research.google.com/github/sisyphusinthejungle/omdb-ml-project/blob/main/omdb_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import openml
import pandas as pd

# Access data with API Key
openml.config.apikey = 'd1d7d235b5af2860d5e4962ed225765e'

# Connect data
dataset = openml.datasets.get_dataset(1461)

# Construct dataFrame
data_tuple = dataset.get_data(target=dataset.default_target_attribute)

X = data_tuple[0]
y = data_tuple[1]
df = X.copy()

# Rename the columns
df.columns = [
    'age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
    'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
    'previous', 'poutcome'
]

df['target'] = y

# Check dataframe
print(df.head(5))

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no   2143.0     yes   no
1   44    technician   single  secondary      no     29.0     yes   no
2   33  entrepreneur  married  secondary      no      2.0     yes  yes
3   47   blue-collar  married    unknown      no   1506.0     yes   no
4   33       unknown   single    unknown      no      1.0      no   no

   contact  day month  duration  campaign  pdays  previous poutcome target
0  unknown    5   may     261.0         1   -1.0       0.0  unknown      1
1  unknown    5   may     151.0         1   -1.0       0.0  unknown      1
2  unknown    5   may      76.0         1   -1.0       0.0  unknown      1
3  unknown    5   may      92.0         1   -1.0       0.0  unknown      1
4  unknown    5   may     198.0         1   -1.0       0.0  unknown      1

In [31]:
# Check for null values
print(df.isnull().sum())

# Check data statistics
print(df.describe())

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
target       0
dtype: int64
                age        balance           day      duration      campaign  \
count  45211.000000   45211.000000  45211.000000  45211.000000  45211.000000
mean      40.936210    1362.272058     15.806419    258.163080      2.763841
std       10.618762    3044.765829      8.322476    257.527812      3.098021
min       18.000000   -8019.000000      1.000000      0.000000      1.000000
25%       33.000000      72.000000      8.000000    103.000000      1.000000
50%       39.000000     448.000000     16.000000    180.000000      2.000000
75%       48.000000    1428.000000     21.000000    319.000000      3.000000
max       95.000000  102127.000000     31.000000   4918.000000     63.000000

              pdays      previous
count  45211.000000  45211.000000
mean      40.197828      0.580323
std      100.128746      2.303441
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       -1.000000      0.000000
max      871.000000    275.000000